
h1 {
    padding: 20px;
    height: 10%;
    border-bottom: 1px dotted yellow;
}

#ask {
    width: 20%;
    margin: 20px auto;
    /*border: 1px dotted red;*/
}

#question-wrapper {
    padding-top: 20px;
    width: 600px;
    min-height: 500px;
    margin: auto;
    text-align: center;
    background-color: darkgrey;
    border-radius: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: darkblue;

}

button {
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    font-size: 14px;
    background-color: #cdcbd6;
    color: darkred;
    
}

textarea {
    width: 60%;
    height: 100px;
}
textarea[placeholder] {
    font-size: 16px;
}

#create-question {
    height: 100px;
    border: 1px dotted red;
}
#create-question button {
    position: relative;
    top: 0;
    height: 20px;
    font-size: 12px;
    font-family: Arial;
}