body {
    margin: auto;
    height: 100vh;
    /*border: 1px dashed red;
    background: linear-gradient(to top, lightblue, white) no-repeat;*/
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}

li {
    list-style-type: none;
    padding: 5px;
    font-family: Courier New, Courier, monospace;
}

.common-inputs {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    border: 0;
    box-shadow: -1px -1px 4px black;
    background-color: lightgoldenrodyellow;
}

input[type=checkbox] {
    zoom: 1.5;
}

.btn {
    border: 0;
    box-shadow: 1px 1px 10px #191919;
    background-color: dodgerblue;
}

.btn-small {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
}
.btn:active {
  background-image: none;
  background-color: lightblue;
}
.btn:focus {
    outline: 0;
box-shadow: 1px 1px 10px #191919;
}
/*.btn:hover {
    background-color: dodgerblue;
}*/

.navbar {
    position: fixed;
    width: 100%;
    min-width: 322px;
    height: 80px;
    margin: auto;
    text-align: center;
    /*border: 1px dashed deeppink;*/
    background-color: dodgerblue;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 2px 2px 2px #191919;
    z-index: 2;
}

.footer {
    position: fixed;
    width: 100%;
    min-width: 322px;
    bottom: 0;
    text-align: center;
    background-color: dodgerblue;
}

#menu {
    float: right;
    margin: 15px;
}
#menu img {
    width: 52px;
}
#menu img:hover {
    cursor: pointer;
}

#drop-down-menu {
    position: absolute;
    width: 300px;
    height: 126%;
    top: 70px;
    right: 25px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    box-shadow: 1px 1px 12px black;
    text-align: center;
    z-index: 3;
    background-color: orange;
    display: none;
}

#drop-down-menu li {
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding: 2px;
    /*border: 1px dotted white;*/
}
#drop-down-menu input {
    text-align: left;
}

#list-item2 {
    top: 40px;
}
#list-item3 {
    top: 80px;
}

.header {
    position: absolute;
    top: 0;
    margin: auto;
    left: 25%;
    right: 25%;
}

.center {
    position: relative;
    top: 120px;
    height: 0;
    width: 80%;
    padding-bottom: 40%;
    margin: auto;
    /*border: 1px dashed red;*/
    background-color: black;
    z-index: 1;
    cursor: pointer;
    /*box-shadow: 2px 2px 4px black;*/
}

.players {
    font-size: 20px;
    font-family: Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px dotted red;
    width: 280px;
}

.players span {
    width: 100%;
    border: 1px dotted yellow;
}
#player1 {
    float:left;
}
#player2 {
    float: right;
}

.box {
    position: absolute;
    width: 32%;
    height: 100%;
    text-align: center;
    background-color: white;
    font-size: 100px;
    /*border: 1px dotted blue;*/
}
.box:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#b1,
#b4,
#b7 {
    top: 0;
    left: 0;
    /*border: 1px dashed red;*/
}

#b2,
#b5,
#b8 {
    top: 0;
    left: 35%;
    /*border: 1px dashed red;*/
}

#b3,
#b6,
#b9 {
    top: 0;
    left: 70%;
    /*border: 1px dashed red;*/
}

#row-1 {
    position: absolute;
    top: 0;
    height: 40%;
    width: 100%;
    /*border: 1px dotted yellow;*/
    overflow: hidden;
}

#row-2 {
    position: absolute;
    top: 45%;
    height: 40%;
    width: 100%;
    overflow: hidden;
    /*border: 1px dotted yellow;*/
}

#row-3 {
    position: absolute;
    top: 90%;
    height: 40%;
    width: 100%;
    overflow: hidden;
    /*border: 1px dotted yellow;*/
    background-color: black;
}

@media screen and (min-width: 1100px ) {
    .center {
        width: 52%;
        padding-bottom: 31%;
    }
}

/*@media screen and (min-width: 1200px ) {
    .center {
        width: 52%;
        padding-bottom: 30%;
    }
}*/