body {
    margin: 0;
}

#big-image {
    background: url("") 50% 50% no-repeat;
    background-size: 100%;
}

.container {
    text-align: center;
    margin: 0;
    font-family: Arial;
    max-width: 960px;
}

button {
    width: 100px;
    border: none;
    outline: 0;
    background-color: darkred;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #191919;
}

button:hover {
    background-color: indianred;
}

img {
    width: 100px;
}

.nav-selections {
    position: fixed;
    height: 120px;
    width: 100%;
    /*border: 1px dotted red;*/
    background-color: lightgrey;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 2px 2px 2px #191919;
    opacity: 0.8;
}

.logo {
    /*float: left;*/
    display: inline-block;
    width: 120px;
    height: 80px;
    background: url("../images/tribal-dragon-vert.png") 50% 50% no-repeat;
    background-size: 60px;
    /*border: 1px dotted green;*/
}

.options {
    /*border: 1px dotted blue;*/
}

.image-message {
    position: fixed;
    width: 80%;
    height: 66%;
    top: 140px;
    left: 10%;
    right: 10%;
    margin: auto;
    background: url("") 10% 10% no-repeat;
    background-size: 50%;
    z-index: -1;
    /*border: 1px dotted red;*/
}

.the-dice {
    position: absolute;
    width: 100%;
    bottom: 10px;
    right: 10px;
}

.the-dice img {
    background-color: lightgrey;
    border-radius: 10px;
}

.scores {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    /*border: 1px dotted red;*/
    text-align: center;
}

.the-message p{
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 40px;
    /*border: 1px dotted green;*/
    z-index: 2;
    font-size: 25px;
}

#players {
    position: absolute;
    width: 50%;
    height: 25px;
    left: 25%;
    right: 25%;
    top: 10%;
    border: 1px dotted green;
}

#players label {
    padding: 15px;
}

.the-outcome {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 10px;
    right: 20px;
    font-size: 40px;
    font-family: "Courier New", Verdana;
    color: darkred;
    font-weight: bold;
    border: 1px dotted green;
    text-align: center;
    line-height: 100px;
}


/*#outcome {
            font-size: 40px;
            font-family: "Courier New", Verdana;
            color: darkred;
            font-weight: bold;
        }*/